.loginbox{
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
}

.BackgroundImage{
    width: 100%;
    height: 45%;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: #fff;
}

.BackgroundImage img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.first-line {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 70px;
    z-index: 1;
}

.first-line button{
    border-radius: 15px;
    border: none;
    padding: 7px 22px;
    font-weight: bold;
    font-size: 13px;
    color: #FFF;
    transition: ease 0.5s;
    background-image: linear-gradient(to right, rgb(250, 11, 122), rgb(242, 14, 250));
}

.first-line button:hover{
    font-size: 14px;  
    background-image: linear-gradient(to right, rgb(235, 10, 115), rgb(222, 10, 230));
}

.options{
    display: flex;
    width: 40%;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 32%;
}

.options label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options label:hover{
    text-decoration: underline;
    cursor: pointer;
}

.options label svg{
    margin-left: 7px;
    font-size: 15px;
}

.Mensagem-meio{
    position: absolute;
    padding: 85px 0px;   
    width: 39%;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Mensagem-meio h1{
    font-size: 35px;
    margin-bottom: 11px;
}

.login-container{
    position: absolute;
    width: 310px;
    height: 420px;
    background-color: #FFF;
    color: rgb(122, 120, 120);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 65%;
}


.login-container h2{
    padding: 30px 0;
}

.input-area{
    width: 100%;
    height: 85px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-area input{
    width: 88%;
    padding: 10px;
    border-radius: 9px;
    transition: ease 0.5s;
}


.login-icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 35px;
}

.login-icons svg{
    border: 1px solid rgb(230, 227, 227);
    border-radius: 5px;
    font-size: 25px;
    width: 50px;
    height: 40px;
    color: black;
    transition: ease 0.5s;
}

.login-icons svg:hover{
    cursor: pointer;
    border: 1px solid rgb(187, 186, 186);
}

.login-icons svg:first-child{
    color: rgb(60, 112, 253);
}

.remember-button{
    padding-top: 15px;
    width: 88%;
    display: flex;
    align-items: center;
}
.remember-button input{
    margin-right: 10px;
    cursor: pointer;
}

.remember-button label{
    cursor: pointer;
}

.buttons-send{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 130px;
    padding-top: 25px;
}

.buttons-send button{
    width: 88%;
    height: 30px;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    color: #FFF;
    background-color: #221088;
}

.buttons-send button:first-child{
    background-image: linear-gradient(to right, rgb(65, 195, 255), rgb(1, 122, 179));
}


.rodape{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(141, 138, 138);
    padding-bottom: 15px;
}

.rodape-firstline{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.rodape-secondline{
    width: 25%;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}

.rodape-secondline svg{
    cursor: pointer;
}


@media screen and (max-width: 700px) {

    .BackgroundImage {
        width: 100%;
        height: 35%;
        padding: 10px 10px 0 10px;
    }

    .first-line {
        justify-content: space-around;
        padding: 25px 15px;
    }

    .first-line h3{
        font-size: 14px;
    }

    .first-line button{
        padding: 8px 15px;
        font-weight: bold;
        font-size: 10px;
        color: #FFF;
        transition: ease 0.5s;
        background-image: linear-gradient(to right, rgb(250, 11, 122), rgb(242, 14, 250));
    }

    .options {
        display: none;
    }

    .Mensagem-meio {
        position: absolute;
        padding: 65px 0px;   
        display: flex;
        flex-direction: column;   
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .Mensagem-meio h1 {
        font-size: 35px;
        margin-bottom: 0px;
    }

    .Mensagem-meio p {
        display: none;
    }

    .rodape{
        padding-bottom: 35px;
    }

    .rodape-firstline {
        display: none;
    }

    .rodape-secondline {
        width: 80%;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        padding-top: 0px;
    }
}

@media screen and (max-height: 650px) {
    .Mensagem-meio p {
        display: none;
    }

    .rodape-firstline {
        display: none;
    }
}

@media screen and (max-height: 800px) {
    .login-container{
        width: 280px;
        height: 380px;
        top: 60%;
    }   

    .login-container h2{
        padding: 22px 0;
    }   

    .buttons-send{
        height: 115px;
        padding-top: 23px;
    }
    
    .Mensagem-meio h1{
        font-size: 32px;
    }
}