button{
    width: 205px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
    background-color: #ffffff38;
    transition: ease 0.2s;
    color: #FFF;
}

button:hover{
    background-color: #ffffff6b;
    cursor: pointer;
}