.home-container{
    background-color: rgb(12, 7, 7);
    height: 100vh;
    color: #FFF;
    display: flex;
}

.reamaining-area{
    height: 100%;
    width: calc(100% - 60px);
    margin-left: 60px;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    align-items: center;
    flex-direction: column;
}

.line-dashboard{
    width: 80%;
    height: 50%;
    max-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dash-model{
    background-color: #141111;
    width: 48%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.render-area-obejectives {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    padding-bottom: 18px;
    overflow: auto;
    
}

.render-area-obejectives::-webkit-scrollbar {
    width: 10px;
  }
  
.render-area-obejectives::-webkit-scrollbar-track {
    background-color: #141111;
}
  
.render-area-obejectives::-webkit-scrollbar-thumb {
    background-color: #1F1D1D;
    border-radius: 4px;
}
  
.render-area-obejectives::-webkit-scrollbar-thumb:hover {
    background-color: #1F1D1D;
}

.scroll-area-objectives{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.title-model{    
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title-model h2{    
    margin: 0;
    text-align: center;
}

.title-model svg{    
    position: absolute;
    font-size: 30px;
    right: 0px;
    margin-right: 15px;
}

.title-model svg:hover{    
    font-size: 34px;
}

.title-model button{ 
    font-size: 17px;
    position: absolute;
    right: 0px;
    margin-right: 3%;
    padding: 5px 16px;
    color: #FFF;
    background-color: #5F00D8;
    border: none;
    border-radius: 7px;
    transition: ease 0.3s;
}

.title-model button:hover{ 
    padding: 6px 17px;
    background-color: #6f0df0;
    font-size: 18px;
}

.objectives{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: orange;
    width: 95%;
    height: 52px;
    background-color: #1F1D1D;
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 18px;
}

#Title {
    width: 180px;
}

#Percent{
    width: 45px;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #5F00D8;
}

#Achieved{
    width: 220px;
    padding-left: 18px;
}

.options-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    height: 98%;
    width: 65px;
}

.options-buttons svg {
    transition: ease 0.3s;
    flex-shrink: 0;
}

.options-buttons svg:hover {
    color: #6f0df0;
    transform: scale(1.3);
}

@media screen and (max-height: 900px) {
    .line-dashboard {
        width: 90%;
        height: 350px;
        display: flex;
        flex-direction: row;
    }   
}

@media screen and (max-height: 800px) {
    .line-dashboard{
        width: 90%;
        height: 300px;
        display: flex;
        flex-direction: row;
    }   
}

@media screen and (max-width: 600px) {
    .home-container{
        background-color: rgb(12, 7, 7);
        height: auto;
        color: #FFF;
        display: flex;
    }

    .reamaining-area{
        padding: 35px 0;
    }
    
    .line-dashboard{
        width: 90%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }   

    .dash-model{
        background-color: #141111;
        width: 100%;
        height: 165px;
        border-radius: 8px;
    }
}

